<div class= 'textured-background'>
<div class="top-banner-card fish-position" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= @ingredient.background_picture %>')">
  <h1>
  <%= @ingredient.name %> Recipes
  </h1>
</div>

<div class='container index-container extra-pad'>

<!-- <h1 class='heading-container'> <%= @ingredient.name %></h1> -->

<div class="cards">

 <% @recipes.each do |recipe| %>
 <div style= "text-decoration: none">
   <%= link_to recipe_path(recipe), {:style=>'text-decoration: none'} do %>
    <div class="card recipe-card-long">
      <div class = "card-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= recipe.thumbnail_picture %>)">
      </div>
      <div class= "ingredient-card-info info-long">
        <h2> <%= recipe.name %> </h2>
        <% hours = recipe.hours_preparation %>
        <% if recipe.hours_preparation >= 1 %>
          <h3> <strong> <%= hours %> </strong> hours preparation </h3>
        <% else %>
        <h3> <strong> <%= (60 * hours).round %> </strong> minutes preparation </h3>
        <% end %>

      </div>
  </div>
  <%end%>
  </div>
<% end %>
</div>




</div>

</div>


