<div class="recipe-background" style="height: 104vh; margin-top: -67px;">
  <div>
    <br>
    <br>
    <br>
    <div class="white-border-container">
    <div class="show-container-recipe">
      <div class="show-container-left-recipe">
                <div class="border-radius-description-recipe">
        <div class="recipe-name">
          <h1><%=@recipe.name%></h1>
          <br>
         <!--  <div class="binomial-name">
            <h3> Serves <%=@recipe.serves%> people</h3>
          </div> -->
        </div>
        <div class="recipe-card-show">
          <div class="show-container-left">
          <h3><%=@recipe.description%></h3>
                     <%@recipe.shopping_list.split(';;;').each do |item| %>
                     <p style="margin-top: 0px;"> <%= item %> </p>
                      <% end %>
                      <br>
          <p style="margin-bottom: 5px;"> <strong> Instructions </strong> </p>
                               <%@recipe.instructions.split(',;;;').each do |item| %>
                     <p style="margin-top: 0px;"> <%= item %> </p>
                      <% end %>
        </div>
        </div>
      </div>
      </div>
      <div class="show-container-right-recipe" style="background-image:url('<%= @recipe.thumbnail_picture%>')">
<div class="recipe-button-holder">
  <a href="../ingredients/<%= @recipe.ingredient_id %>/recipes#recipes">
<div class="box-two-recipe"><h3>View more recipes</h3>
</div>
</a>
<%= link_to ingredient_path(@recipe.ingredient) do %>
<div class="box-one-recipe"><h3>Ingredient page</h3></div></div>
</div>
<% end %>
<!--         <div class="container-for-both-buttons">
          <div class="box-one"><p>Near me</p></div>
          <div class="box-two"><p>Recipes!</p></div>
        </div> -->
      </div>
<!--         <div class="container-for-both-buttons">
          <div class="box-one"><p>Near me</p></div>
          <div class="box-two"><p>Recipes!</p></div>
        </div> -->
      </div>
    </div>

