<div class="show-county-background">
<div class="background-sussex">
  <br>
  <br>
  <br>
  <div class="county-name-and-search">
  <%= image_tag "Freya_Logo_Orange-crop.png", alt: "alttext", :size => '230x230'%>
  <h1><%= @county.name %></h1>
  <%= form_tag county_search_path, method: :get do %>
  <br>
  <div class="search-and-submit-box">
  <%= text_field_tag :query, nil, input_html: {class: "form-control"},
    placeholder: "Find seasonal food!"%>
  <%= submit_tag "Ask Freya", class: "btn btn-primary" %>
  </div>

<% end %>
</div>
<div class="county-show-card-box">

<div class="food-group-icons floating">
<%= link_to ingredients_path do %>
<%= image_tag('cartoon-meat.png') %>
<% end %>
</div>

<div class="food-group-icons less-floating">
<%= link_to ingredients_path do %>
<%= image_tag('cartoon-vegetable.png') %>
<% end %>
</div>

<div class="food-group-icons floating">
<%= link_to ingredients_path do %>
<%= image_tag('cartoon-fish.png') %>
<% end %>
</div>

<div class="food-group-icons less-floating">
<%= link_to ingredients_path do %>
<%= image_tag('cartoon-fruit.png') %>
<% end %>
</div>

</div>

</div>
