<div class="show-county-background">
<div class="background-sussex">
  <br>
  <br>
  <br>
  <div class="county-name-and-search">
  <%= image_tag "Freya_Logo_Orange-crop.png", alt: "alttext", :size => '230x230'%>
  <h1><%= @county.name %></h1>
 <%= form_tag county_search_path, class: "search" , method: :get do %>
  <div class="search-and-submit-box">
  <%= text_field_tag :query, nil, class: "form-control-home", placeholder: "  Enter your county"%>
  <%= button_tag(type: "submit", class: "search-button") do %>
    <div>Search</div>
  <% end %>
  </div>
  <% end %>

</div>
<div class="county-show-card-box">

<div class="food-group-icons floating">
<%= link_to county_ingredients_path(@county, food_group: "Meat") do %>
<%= image_tag('cartoon-meat.png') %>
<% end %>
</div>

<div class="food-group-icons less-floating">
<%= link_to county_ingredients_path(@county, food_group: "Vegetable") do %>
<%= image_tag('cartoon-vegetable.png') %>
<% end %>
</div>

<div class="food-group-icons floating">
<%= link_to county_ingredients_path(@county, food_group: "Fish") do %>
<%= image_tag('cartoon-fish.png') %>
<% end %>
</div>

<div class="food-group-icons less-floating">
<%= link_to county_ingredients_path(@county, food_group: "Fruit") do %>
<%= image_tag('cartoon-fruit.png') %>
<% end %>
</div>

</div>

</div>
