<div class= 'textured-background'>
<% if params[:food_group] == "Fish" %>
<div class="top-banner-card fish-position" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path 'fish-background.jpg' %>')">
  <h1>
  FISH
  </h1>
</div>


<% elsif params[:food_group] == "Meat" %>
<div class="top-banner-card meat-position" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path 'meat-background.jpg' %>')">
  <h1>
  MEAT
  </h1>
</div>
<% elsif params[:food_group] == "Vegetable" %>
<div class="top-banner-card  vegetable-position" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path 'vegetable-background-2.jpg' %>')">
  <h1>
  VEGETABLES
  </h1>
</div>
<% else params[:food_group] == "Fruit" %>
<div class="top-banner-card fruit-position" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path 'fruit-background.jpg' %>')">
  <h1>
  FRUIT
  </h1>
</div>
<% end %>

<% months = ['January','February','March','April','May','June','July','August','September','October','November','December'] %>
<% county = County.find_by id: params[:county_id] %>
<% if Date.today.day > 15 %>
<% stage = "late" %>
<% else %>
<% stage = "early" %>
<% end %>

<div class='container index-container'>

<h1 class='heading-container'> Available in <%= county.name %> in <%= stage %> <%= months[Date.today.month.to_i - 1] %></h1>

<div class="cards">

<% current_time = Time.now %>
 <% @ingredients.each do |ingredient| %>
 <div style= "text-decoration: none">
   <%= link_to ingredient_path(ingredient), {:style=>'text-decoration: none'} do %>
    <div class="card veg-card-long">
      <div class = "card-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= ingredient.thumbnail_picture %>)">
      </div>
      <div class= "ingredient-card-info">
        <div class = "info-header" >
        <h2> <%= ingredient.name %> </h2>
         <% ingredient_season = IngredientSeason.where({county: current_user.county, ingredient: ingredient}).first %>
        <% months = ['January', 'February', 'March', 'April', 'May', 'June', 'July','August','September','October','November','December'] %>
        <%= months[ingredient_season.start.month - 1] %> - <%= months[ingredient_season.end.month- 1]  %>
        </div>
        <h3> <%= ingredient.binomial %> </h3>

      </div>
  </div>
  <%end%>
  </div>
<% end %>
</div>




</div>

</div>

